{% extends "main/base.html" %}

{% block content %}
{% load static %}

<!-- Events-->
<input id="app-event-1" type="checkbox"/>
<input id="app-event-2" type="checkbox"/>
<input id="app-event-3" type="radio" name="app-event-3" checked="checked"/>
<input id="app-event-4" type="radio" name="app-event-3"/>
<input id="app-event-5" type="radio" name="app-event-3"/>

<div class="body">

  <div class="app">

    <div class="app-menu">
      <!-- <div class="app-nav">
        <label class="app-nav__icon" for="app-event-1"></label>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </div> --><center>
      <div class="app-menu__title">Complete a proof of loss:</div>
      <!-- <div class="app-search">
        <label class="app-search__icon" for="app-event-2"></label>
        <div class="app-search__field">
          <input type="text" placeholder="Search..."/>
        </div>
      </div> -->
    </div>
    <div class="app-header">
      <!-- <div class="app-header__image">
        <img id = "icon-one" src="{% static 'main/file.png' %}">
        <img id = "icon-two" src="{% static 'main/camera.png' %}">
        <img id = "icon-three" src="{% static 'main/upload.png' %}"></div> -->
      <!-- <div class="app-tabs"><center>
        <label class="app-tabs__tab app-tabs__tab--one" for="app-event-3"><h6>Report the Loss</h6></label>
        <label class="app-tabs__tab app-tabs__tab--two" for="app-event-4"><h6>Document The Damage</h6></label>
        <label class="app-tabs__tab app-tabs__tab--three" for="app-event-5"><h6>Complete a Proof of Loss</h6></label>
      </center>
      </div> -->
    </div>
    <center>
    <div class="app-body" style="width:100%; alignment:center">
      <div class="app-panel app-panel--one" >
        <!-- <div class="app-panel__header">Header One</div> -->
        <div class="app-panel__content">
          <img src="{% static 'main/file.png' %}">
          <div class="card" style="text-align:left" style="max-width:97%">
            <div class="card-header">
              <h4 class="text-dark" style="text-align:center">Complete the Proof of Loss Form Below:</h4>
            </div>
            <div class="card-body"><center>
              <form>
                {% csrf_token %}
              {{form.as_p}}
                <a href="" class="btn btn-primary" style="width:275px">Create PDF</a></center><br>
            </form>
            </div>
          </div>

        </div>
      </div>
      







    </div>
  </div>
</div>




{% endblock %}
