{% extends "main/base.html" %}

{% block content %}

<!--Mask-->
<div class="view" >
    <!--Intro content-->

    <!--/Intro content-->

<!--/.Mask-->


<br><br><br><br>
  <div class="container" style="text-align:center"><br>


<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark" style="text-align:center">Criminal Defense</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title; text-dark">Don't go it alone</h4>
    <p class="card-text; text-dark">We've handled hundreds of criminal cases on both sides.
      Let us put our experience to work for you in getting the best outcome possible.</p>
    <a href="#" class="btn btn-primary">Contact us now</a>
  </div>
</div>
<br><br>
<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark">Criminal Defense</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title; text-dark">Special title treatment</h4>
    <p class="card-text; text-dark">We've handled hundreds of criminal cases on both sides.
      Let us put our experience to work for you in getting the best outcome possible.</p>







  </div>
</div>

<br><br>


</div>
</div>
{% endblock %}
