{% extends "main/base.html" %}

{% block content %}




<div class="jumbotron jumbotron-fluid" style="min-height:100%">
  <div class="container" style="text-align:center">
<br>
<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark" style="text-align:center">Federal Insurance Claim Form</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title text-dark">Text Here</h4>
    <p class="card-text text-dark">More text</p>
    <center>
    <a href="/" class="btn btn-primary" style="width:275px">Learn More</a>
  </center>
  </div>
</div>

<br>


</div></div>
{% endblock %}
