{% extends "main/base.html" %}

{% block content %}
{% load static %}

<!-- Events-->
<input id="app-event-1" type="checkbox"/>
<input id="app-event-2" type="checkbox"/>
<input id="app-event-3" type="radio" name="app-event-3" checked="checked"/>
<input id="app-event-4" type="radio" name="app-event-3"/>
<input id="app-event-5" type="radio" name="app-event-3"/>

<div class="body">
  <div class="app">
    <div class="app-menu">
      <!-- <div class="app-nav">
        <label class="app-nav__icon" for="app-event-1"></label>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </div> --><center>
      <div class="app-menu__title">Texas Insurance</div>
      <!-- <div class="app-search">
        <label class="app-search__icon" for="app-event-2"></label>
        <div class="app-search__field">
          <input type="text" placeholder="Search..."/>
        </div>
      </div> -->
    </div>
    <div class="app-header">
      <div class="app-header__image"><img src="{% static 'main/file.png' %}"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/donut-thin.png"/></div>
      <div class="app-tabs">
        <label class="app-tabs__tab app-tabs__tab--one" for="app-event-3">Report the loss</label>
        <label class="app-tabs__tab app-tabs__tab--two" for="app-event-4">Document the loss</label>
        <label class="app-tabs__tab app-tabs__tab--three" for="app-event-5">Document the loss</label>
      </div>
    </div>
    <center>
    <div class="app-body" style="width:100%; alignment:center">
      <div class="app-panel app-panel--one" >
        <!-- <div class="app-panel__header">Header One</div> -->
        <div class="app-panel__content">
          <div class="card" style="text-align:left" style="max-width:97%">
            <div class="card-header">
              <h1 class="text-dark" style="text-align:center">Uno</h1>
            </div>
            <div class="card-body">
              <h4 class="card-title text-dark">Text Here</h4>
              <p class="card-text text-dark">More text</p>
              <center>
              <a href="/" class="btn btn-primary" style="width:275px">Learn More</a>
            </center>
            </div>
          </div>

        </div>
      </div>
      <div class="app-panel app-panel--two">
        <!-- <div class="app-panel__header">2eader Two</div> -->
        <div class="app-panel__content">
          <div class="card" style="text-align:left" style="max-width:97%">
            <div class="card-header">
              <h1 class="text-dark" style="text-align:center">Federal Insurance Claim Form</h1>
            </div>
            <div class="card-body">
              <h4 class="card-title text-dark">Text Here</h4>
              <p class="card-text text-dark">More text</p>
              <center>
              <a href="/" class="btn btn-primary" style="width:275px">Learn More</a>
            </center>
            </div>
          </div>
        </div>
      </div>

      <div class="app-panel app-panel--three">
        <!-- <div class="app-panel__header">3eader Three</div> -->
        <div class="app-panel__content">

            <div class="card" style="text-align:left" style="max-width:97%">
              <div class="card-header">
                <h1 class="text-dark" style="text-align:center">Federal Insurance Claim Form</h1>
              </div>
              <div class="card-body">
                <h4 class="card-title text-dark">Text Here</h4>
                <p class="card-text text-dark">More text</p>
                <center>
                <a href="/" class="btn btn-primary" style="width:275px">Learn More</a>
              </center>
              </div>
            </div>
          </div>


        </div>
      </div>








    </div>
  </div>
</div>




{% endblock %}
