{% extends "main/base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid" >
  <div class="container" style="text-align:center"><br>



<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark">Injunctions</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title; text-dark">Special title treatment</h4>
    <p class="card-text; text-dark">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endblock %}
