{% extends "main/base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid" >
  <div class="container" style="text-align:center"><br>



<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark">Legal Checkup</h1>
  </div>
  <div class="card-body">
    <form method="post" style="margin: auto;" class="text-dark">

    {% csrf_token %}

    <h4>{{form.first_name}}</h4>
    <h4>{{form.email}}</h4>
    <h4>{{form.dpoa}}</h4>
    </form>

  </div>
</div>

{% endblock %}
