{% extends "main/base.html" %}

{% block content %}



<!--Mask-->
<div class="view" >
    <!--Intro content-->

    <!--/Intro content-->

<!--/.Mask-->


<br><br><br><br>
  <div class="container" style="text-align:center"><br>


<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark" style="text-align:center">Injunctions</h1>
  </div>
  <div class="card-body">
    <h3 class="card-title; text-dark" style="text-align:center">Help when you need it.</h3>
    <p class="card-text; text-dark">We understand it's not easy being at this point. Whether
    you just need help completing the paperwork or need us to walk you through every step
    of the process, find out how we can help you.</p>

      <div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0" style="text-align:center">
        <a data-toggle="collapse" style="text-align:center" class="text-dark" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Injunction Form Builder
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block text-dark" style="margin-left:7px; margin-right:7px">
        Text about using the free form builder...
        <br><br>
        <center>
          <form method="post" style="margin: auto;" class="text-dark">

          {% csrf_token %}

          <h4>{{form.first_name}}</h4>
          <h4>{{form.email}}</h4>
          <h4>{{form.dpoa}}</h4>
          </form>


      </center>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0" style="text-align:center">
        <a class="collapsed text-dark" style="text-align:center" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Full-Servie Representation
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block text-dark" style="margin-left:7px; margin-right:7px">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0" style="text-align:center">
        <a class="collapsed text-dark" style="text-align:center" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Felony Cases
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block text-dark" style="margin-left:7px; margin-right:7px">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>


    <!-- <a href="#" class="btn btn-primary">Contact us now</a> -->
  </div>
</div>
<br><br>

<br><br>


</div>
</div>
{% endblock %}
