{% extends "main/base.html" %}

{% block content %}



<!--Mask-->
<div class="view" >
    <!--Intro content-->

    <!--/Intro content-->

<!--/.Mask-->


<br><br><br><br>
  <div class="container" style="text-align:center"><br>


<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark" style="text-align:center">Sealing Criminal Records</h1>
  </div>
  <div class="card-body">

    <h5 class="text-dark">Don't let a criminal record hurt your future. Whether you use our comprehensive
      flat-fee package, or just want to use our free self-help tools, find out
      if your criminal record can be sealed or expunged:</h5>


    <h3 class="card-title; text-dark" style="text-align:center">Search Hillsborough Records</h3>
    <p class="card-text; text-dark">If you have had a criminal case in Hillsborough County, find out
     if it's sealable using our free search tool:</p>

      <form method="post" style="margin: auto;" class="text-dark, textarea">
        {% csrf_token %}
      {{form.as_p}}
      <input type="submit" style="background-color:#007BFF;" class="btn btn-primary" value="Search"/>
    </form>
    <div class="text-dark"
    {% if case_amt > 0 %}
    <br><br>
    <center>
        <h5 class="text-dark">Cases Found: {{case_amt}}</h5>
    <div class="text-dark">
<div class="table-responsive">

<table class="table">

    {% for key, values in empty_dict.items %}

      <tr class="table-success">
        <td>{{key}} </td>
        {% for v in values %}
        <td>{{v}}

        <!-- {% if key == 'Date' %}{{v|slice:":2"}}{{v|slice:"3:5"}}{{v|slice:"6:11"}}
          <br><a style="color:blue" href="http://www.google.com/calendar/event?action=TEMPLATE&text=Example%20Event&dates={{v|slice:'6:11'}}{{v|slice:':2'}}{{v|slice:'3:5'}}/{{v|slice:'6:11'}}{{v|slice:':2'}}{{v|slice:'3:5'}}">Add to gCal</a>
        {% endif %} -->

          </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
</center>
{% endif %}

  {% if case_amt == 0 %}
  <h2 style="text-align:center">Sorry, we didn't find any results.</h2>
{% endif %}
</div>
<br><br>
      <div id="accordion" role="tablist" aria-multiselectable="true">

        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0" style="text-align:center">
              <a class="collapsed text-dark" style="text-align:center" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Flat Fee Sealing and Expunging Services:
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block text-dark" style="margin-left:7px; margin-right:7px">
              For a flat fee of $300 we will walk you through the sealing or expunging process.<br>
              This flat fee includes:
              <ul class="list-group">
                <li class="list-group-item">Consultations</li>
                <li class="list-group-item">Form Preparation</li>
                <li class="list-group-item">All office expenses</li>
                <li class="list-group-item">
                  <b><i>It does not include filing and processing fees charged
                        by FLDE or the Clerk of Courts</b></i></li>
              </ul>
              <br>
              </div>
          </div>
        </div>


  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0" style="text-align:center">
        <a data-toggle="collapse" style="text-align:center" class="text-dark" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Do-It-Yourself Sealing and Expungement Forms:
        </a>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block text-dark" style="margin-left:7px; margin-right:7px">
        The first step to sealing a criminal record is downloading and completing the
        FDLE Application for a Certificate of Eligibility Packet.
        <br><br>
        <center>{% load static %}

          <a href="{% static 'main/FDLEpacket.pdf' %}" class="btn btn-primary">Download FDLE Packet</a>
        </center>
        <br>
        Once you've obtained a certificate of eligibility from FDLE, you will then need to
        complete the Petition to Expunge or Seal, as well as an Affidavit, and file them
        along with the Certificate of Eligibility with the Hillsborough County Clerk of Courts.
        <br><br>
        <center>
          <a href="{% static 'main/petition.pdf' %}" class="btn btn-primary">Download Petition</a>
        </center>
        <br>
      </div>

    </div>
  </div>



  </div>
</div>

  </div>
</div>
<br><br>

<br><br>


</div>
</div>
{% endblock %}
