{% extends "main/base.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid" >
  <div class="container" style="text-align:center"><br>



<div class="card" style="text-align:left">
  <div class="card-header">
    <h1 class="text-dark">Sealing Criminal Records</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title; text-dark">Don't let your record hurt your future.</h4>
    <p class="card-text; text-dark">Let us guide you through the process of sealing
    or expunging your criminal record.</p>
    <a href="#" class="btn btn-primary">Get started</a>
  </div>
</div>
{% endblock %}
